.container{
    margin: 200px 100px 100px 350px;
    border: 1px solid green;
    width: 700px;
    background-color: #FBFACD;
}
.container table{
    margin-top: 8px;
    margin-left: 8px;
}
.borderEE{
    margin-top: 10px;
    margin-left: -8px;
}